flow/myflows.json
[{"id":"e7a3403a.f1422","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bf6573fd.290bd","type":"tab","label":"login","disabled":false,"info":""},{"id":"d48304bb.dca368","type":"tab","label":"dashboard","disabled":false,"info":""},{"id":"c12fc663.9a2218","type":"tab","label":"API","disabled":false,"info":""},{"id":"7b570f08.9490b","type":"tab","label":"line","disabled":false,"info":""},{"id":"b45f2c5e.fcf65","type":"subflow","name":"logintoLoRaServer","info":"","category":"","in":[{"x":140,"y":120,"wires":[{"id":"b7b059d.a6b25a8"}]}],"out":[{"x":490,"y":240,"wires":[{"id":"1e01febc.c69831","port":0}]}]},{"id":"99823add.360468","type":"mqtt-broker","z":"","name":"senser value","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fceb968a.a6fae8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#01beb5","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":60,"sy":60,"gx":25,"gy":25,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"52f4e76f.020528","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"f01422cb.84dd9","type":"ui_group","z":"","name":"","tab":"f6ec1eb8.e4f9e","disp":true,"width":"6","collapse":false},{"id":"f6ec1eb8.e4f9e","type":"ui_tab","z":"","name":"dashboard","icon":"dashboard","order":2},{"id":"1eb539b.5a33fc6","type":"ui_group","z":"","name":"","tab":"f6ec1eb8.e4f9e","order":2,"disp":true,"width":"6","collapse":false},{"id":"c131e358.edbe5","type":"ui_group","z":"","name":"","tab":"f6ec1eb8.e4f9e","order":3,"disp":true,"width":"6","collapse":false},{"id":"4edb447f.342bac","type":"tls-config","z":"","name":"ignore cert","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"c938a20c.8adb5","type":"ui_group","z":"","name":"","tab":"52f4e76f.020528","disp":true,"width":"6","collapse":true},{"id":"b779b5df.8583d8","type":"mqtt-broker","z":"","name":"","broker":"demo.thingsboard.io","port":"1883","tls":"4edb447f.342bac","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"594bbc16.0b2db4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"80a719b3.ec74a8","type":"mongodb","z":"","hostname":"localhost","port":"27017","db":"lorawan","name":""},{"id":"3a60bd1b.b296e2","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/lorawan","name":"lorawan","options":"","parallelism":"-1"},{"id":"d2bf81ca.193ee","type":"mqtt in","z":"e7a3403a.f1422","name":"sub","topic":"application/Newmsg","qos":"2","broker":"99823add.360468","x":70,"y":280,"wires":[["2aca3b23.14edd4"]]},{"id":"24743968.3cb576","type":"ui_form","z":"bf6573fd.290bd","name":"","label":"Login","group":"c938a20c.8adb5","order":1,"width":"0","height":"0","options":[{"label":"username","value":"username","type":"text","required":true},{"label":"password","value":"password","type":"password","required":true}],"formValue":{"username":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":160,"wires":[["217e4c6f.96b8c4"]]},{"id":"70205462.316a6c","type":"debug","z":"bf6573fd.290bd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":420,"wires":[]},{"id":"e8aec7e6.e35b98","type":"debug","z":"d48304bb.dca368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":520,"wires":[]},{"id":"730c7d0.2a54384","type":"ui_gauge","z":"d48304bb.dca368","name":"","group":"f01422cb.84dd9","order":1,"width":"6","height":"6","gtype":"gage","title":"temperature","label":"","format":"{{payload.temp}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"50","x":770,"y":340,"wires":[]},{"id":"17520e49.8497c2","type":"mqtt in","z":"d48304bb.dca368","name":"value sensor","topic":"application/Newmsg","qos":"2","broker":"99823add.360468","x":290,"y":400,"wires":[["3252cedd.c55312"]]},{"id":"3252cedd.c55312","type":"json","z":"d48304bb.dca368","name":"","property":"payload","action":"obj","pretty":false,"x":400,"y":560,"wires":[["730c7d0.2a54384","275a83c4.0bf21c","6e6e0fca.21782","c389c751.0764c8","255170b6.7fc14","48498770.c20238"]]},{"id":"275a83c4.0bf21c","type":"ui_gauge","z":"d48304bb.dca368","name":"","group":"1eb539b.5a33fc6","order":1,"width":"6","height":"6","gtype":"gage","title":"humidity","label":"","format":"{{payload.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":240,"wires":[]},{"id":"6e6e0fca.21782","type":"ui_gauge","z":"d48304bb.dca368","name":"","group":"c131e358.edbe5","order":1,"width":"6","height":"6","gtype":"gage","title":"barometer","label":"","format":"{{payload.barometer}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":140,"wires":[]},{"id":"acd483f1.3e55d","type":"ui_chart","z":"d48304bb.dca368","name":"","group":"1eb539b.5a33fc6","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":800,"y":740,"wires":[[],[]]},{"id":"72720ff4.50bf6","type":"ui_chart","z":"d48304bb.dca368","name":"","group":"c131e358.edbe5","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":830,"y":800,"wires":[[],[]]},{"id":"c389c751.0764c8","type":"function","z":"d48304bb.dca368","name":"get temp","func":"msg.payload=msg.payload.temp\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":660,"wires":[["170889e4.0515f6"]]},{"id":"255170b6.7fc14","type":"function","z":"d48304bb.dca368","name":"get humidity","func":"msg.payload =msg.payload.humidity\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":740,"wires":[["acd483f1.3e55d"]]},{"id":"48498770.c20238","type":"function","z":"d48304bb.dca368","name":"get barometer","func":"msg.payload =msg.payload.barometer\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":820,"wires":[["72720ff4.50bf6"]]},{"id":"170889e4.0515f6","type":"ui_chart","z":"d48304bb.dca368","name":"","group":"f01422cb.84dd9","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":800,"y":600,"wires":[[],[]]},{"id":"8fcded9.e14e41","type":"http request","z":"b45f2c5e.fcf65","name":"login","method":"POST","ret":"txt","url":"https://18.136.100.79:8080/api/internal/login","tls":"4edb447f.342bac","x":230,"y":180,"wires":[["80e3d84c.65e6f8"]]},{"id":"91bbf832.37dc38","type":"debug","z":"c12fc663.9a2218","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":340,"wires":[]},{"id":"edfc231a.2848b","type":"inject","z":"c12fc663.9a2218","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":40,"wires":[["57f546c9.0c0f18"]]},{"id":"80e3d84c.65e6f8","type":"json","z":"b45f2c5e.fcf65","name":"","property":"payload","action":"","pretty":false,"x":370,"y":180,"wires":[["1e01febc.c69831"]]},{"id":"1e01febc.c69831","type":"function","z":"b45f2c5e.fcf65","name":"seperate token","func":"msg.token = msg.payload.jwt\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":240,"wires":[[]]},{"id":"562be716.993448","type":"comment","z":"b45f2c5e.fcf65","name":"TOKEN","info":"","x":270,"y":300,"wires":[]},{"id":"fd333240.47a6d","type":"change","z":"c12fc663.9a2218","name":"","rules":[{"t":"set","p":"headers.authorization","pt":"msg","to":"token","tot":"msg"},{"t":"set","p":"limit","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":100,"wires":[["938914e0.112cd8"]]},{"id":"938914e0.112cd8","type":"http request","z":"c12fc663.9a2218","name":"","method":"GET","ret":"txt","url":"https://18.136.100.79:8080/api/users?limit={{{limit}}}","tls":"4edb447f.342bac","x":550,"y":180,"wires":[["c6a4cb65.fda1e8"]]},{"id":"c6a4cb65.fda1e8","type":"json","z":"c12fc663.9a2218","name":"","property":"payload","action":"","pretty":false,"x":540,"y":240,"wires":[["91bbf832.37dc38"]]},{"id":"dd31ed04.931cf","type":"subflow:b45f2c5e.fcf65","z":"c12fc663.9a2218","x":230,"y":160,"wires":[["fd333240.47a6d"]]},{"id":"b7b059d.a6b25a8","type":"json","z":"b45f2c5e.fcf65","name":"","property":"payload","action":"","pretty":false,"x":270,"y":120,"wires":[["8fcded9.e14e41"]]},{"id":"57f546c9.0c0f18","type":"function","z":"c12fc663.9a2218","name":"","func":"msg.payload = {\n    username: \"palaloyploy\",\n    password: \"1234256789\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":80,"wires":[["dd31ed04.931cf"]]},{"id":"217e4c6f.96b8c4","type":"subflow:b45f2c5e.fcf65","z":"bf6573fd.290bd","name":"","x":270,"y":180,"wires":[["7418c41f.217d6c"]]},{"id":"afc1abf7.4330e8","type":"ui_ui_control","z":"bf6573fd.290bd","name":"","x":620,"y":320,"wires":[[]]},{"id":"81b2c7ce.3a2b38","type":"function","z":"bf6573fd.290bd","name":"selectPage","func":"msg.payload = {\n    tab:\"dashboard\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":260,"wires":[["afc1abf7.4330e8"]]},{"id":"7418c41f.217d6c","type":"switch","z":"bf6573fd.290bd","name":"","property":"payload.error","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":200,"wires":[["81b2c7ce.3a2b38"]]},{"id":"2aca3b23.14edd4","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":250,"y":300,"wires":[]},{"id":"e002200b.79479","type":"inject","z":"7b570f08.9490b","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":380,"wires":[["cd6c84df.891838"]]},{"id":"cd6c84df.891838","type":"function","z":"7b570f08.9490b","name":"","func":"msg.headers = {'content-type':'application/x-www-form-urlencoded','Authorization':'Bearer wIhJ9iI7c2sX02H28tSdv82UkQKJ1IkuIuLLwZz0cyV'};\n\nmsg.payload = {'message':msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":380,"wires":[["77bb1d58.ae8d24"]]},{"id":"77bb1d58.ae8d24","type":"http request","z":"7b570f08.9490b","name":"","method":"POST","ret":"txt","url":"https://notify-api.line.me/api/notify","tls":"","x":720,"y":380,"wires":[["dd753b78.3818a8"]]},{"id":"dd753b78.3818a8","type":"debug","z":"7b570f08.9490b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":940,"y":380,"wires":[]},{"id":"130b2bd8.3378c4","type":"function","z":"e7a3403a.f1422","name":"","func":"msg.headers = {'content-type':'application/x-www-form-urlencoded','Authorization':'Bearer mZKFJMNWSDBYmwv2/Vo3B4RBqt4rxrV61+uHhtlaUrRgsFuExGL4UjqyL/osApnb4gQLABecLaWW+PmT6P7o/AkXlpP/SYzvskNN3ujFIvY+FTTcQ7LxWje+xCHgRxABq1mtHcwPxzui/4+yc8K5+AdB04t89/1O/w1cDnyilFU='};\n\nmsg.payload = {'message':msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":40,"wires":[["1af39a05.905bc6"]]},{"id":"1af39a05.905bc6","type":"http request","z":"e7a3403a.f1422","name":"","method":"POST","ret":"txt","url":"webhook","tls":"","x":680,"y":60,"wires":[["39b56a61.620926"]]},{"id":"39b56a61.620926","type":"debug","z":"e7a3403a.f1422","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":880,"y":60,"wires":[]},{"id":"c83ecd05.4e6c","type":"json","z":"e7a3403a.f1422","name":"","property":"payload","action":"str","pretty":false,"x":300,"y":60,"wires":[["130b2bd8.3378c4"]]},{"id":"22d0ff3c.0582","type":"http in","z":"e7a3403a.f1422","name":"","url":"/subscribe","method":"post","upload":false,"swaggerDoc":"","x":120,"y":840,"wires":[["de672732.4afdd8","48e971.50d6f69"]]},{"id":"1a36b4e8.0a436b","type":"http in","z":"e7a3403a.f1422","name":"","url":"/unsubscribe","method":"post","upload":false,"swaggerDoc":"","x":130,"y":1380,"wires":[["6fbaf272.ba77fc","485d12fd.b13e9c"]]},{"id":"2b0caf8a.a8138","type":"mongodb2 in","z":"e7a3403a.f1422","service":"_ext_","configNode":"3a60bd1b.b296e2","name":"","collection":"detailUser","operation":"find.toArray","x":610,"y":880,"wires":[["6ad8a672.7ede58","3821751c.17a0aa"]]},{"id":"36da04c4.2a6b8c","type":"mqtt in","z":"e7a3403a.f1422","name":"","topic":"application/aqi","qos":"2","broker":"99823add.360468","x":110,"y":1820,"wires":[["bd02cd54.0751","9a9ce620.95e488"]]},{"id":"6e915678.2e56d8","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":2000,"wires":[]},{"id":"6ad8a672.7ede58","type":"function","z":"e7a3403a.f1422","name":"if check userdetail","func":"if(msg.payload[0]!== undefined) { // Use \"0\" if this value is a string, but I guess not by inspecting your data.\n    msg.type = 0\n    return msg;\n} \nelse {\n        \n}\nmsg.type=1\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":860,"wires":[["4db4e71d.aa3e08"]]},{"id":"de672732.4afdd8","type":"function","z":"e7a3403a.f1422","name":"query user detail","func":"// var User = msg.payload.UserID\n// var location = msg.payload.location\n// // var level = msg.payload.level\n\n// msg.payload=[{UserID:User},{location:location}]\n// return msg;\n\nvar User = msg.payload.UserID\nvar location = msg.payload.location\nvar level = msg.payload.level\n\nmsg.payload=[{$and:[{UserID:User},\n            {location:location}]\n    }];\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":880,"wires":[["2b0caf8a.a8138"]]},{"id":"4db4e71d.aa3e08","type":"switch","z":"e7a3403a.f1422","name":"","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1130,"y":860,"wires":[["28696652.849c5a"],["cf353c95.304c3","ec928c35.90917"]]},{"id":"6bb47897.de4298","type":"mongodb2 in","z":"e7a3403a.f1422","service":"_ext_","configNode":"3a60bd1b.b296e2","name":"","collection":"detailUser","operation":"insertOne","x":1620,"y":900,"wires":[["bdcc6de7.0b6e2"]]},{"id":"cf353c95.304c3","type":"function","z":"e7a3403a.f1422","name":"detail User","func":"var detailUser ={};\ndetailUser.payload = {\n    UserID : msg.req.body.UserID,\n    location : msg.req.body.location,\n    level : msg.req.body.level\n}\nreturn detailUser;","outputs":1,"noerr":0,"x":1310,"y":900,"wires":[["6bb47897.de4298","a3e76310.abbee"]]},{"id":"bdcc6de7.0b6e2","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1890,"y":900,"wires":[]},{"id":"cc0bd19d.bc7ba","type":"http response","z":"e7a3403a.f1422","name":"","statusCode":"","headers":{},"x":2030,"y":640,"wires":[]},{"id":"e43f11bf.32bb6","type":"http response","z":"e7a3403a.f1422","name":"","statusCode":"","headers":{},"x":1770,"y":1020,"wires":[]},{"id":"2993ef36.5ba3b","type":"http in","z":"e7a3403a.f1422","name":"","url":"/usersub","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1140,"wires":[["1663ebf6.a6cea4","7a2a2500.fe388c"]]},{"id":"1663ebf6.a6cea4","type":"function","z":"e7a3403a.f1422","name":"query user sub","func":"// db.sales.aggregate( [ { $group : { _id : \"$item\" } } ] )\nvar ID = msg.req.query.UserId\n\nvar pipeline = [\n    { $match: \n        {UserID: ID}},\n    // {$group: { \n    //     _id: \"$UserID\" ,\n    //     location: { $push: \"$location\" },\n    //     level: { $push: \"$level\" }\n    // }}//,\n    // { $project: {_id: 0} }\n];\n\nmsg.payload = [pipeline, null];\nmsg.sort = {location:1};\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1140,"wires":[["7e580319.4baffc"]]},{"id":"7e580319.4baffc","type":"mongodb2 in","z":"e7a3403a.f1422","service":"_ext_","configNode":"3a60bd1b.b296e2","name":"","collection":"detailUser","operation":"aggregate.toArray","x":850,"y":1140,"wires":[["568de148.39b9","3bb4d816.e81828"]]},{"id":"568de148.39b9","type":"http response","z":"e7a3403a.f1422","name":"","statusCode":"","headers":{},"x":1090,"y":1120,"wires":[]},{"id":"7a2a2500.fe388c","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":1000,"wires":[]},{"id":"54168451.4ace3c","type":"function","z":"e7a3403a.f1422","name":"message sub dup","func":"var level\nif (msg.req.body.level === '1'){\n    level = \"ปานกลาง\"\n}\nelse if (msg.req.body.level === '2'){\n    level = \"เริ่มมีผลต่อสุขภาพ\"\n}\nelse if (msg.req.body.level === '3'){\n    level = \"อันตรายต่อสุขภาพ\"\n}\nmsg.payload = \"ท่านได้ทำการ subscribe พื้นที่ \"+msg.req.body.location+\" ระดับ\"+level+\" ไปก่อนหน้านี้แล้วค่ะ\"\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":660,"wires":[["cc0bd19d.bc7ba","37b2d240.bf7f0e"]]},{"id":"ec928c35.90917","type":"function","z":"e7a3403a.f1422","name":"message sub","func":"var degree\nif (msg.req.body.level === '1'){\n    degree = \"ปานกลาง\"\n}\nelse if (msg.req.body.level === '2'){\n    degree = \"เริ่มมีผลต่อสุขภาพ\"\n}\nelse if (msg.req.body.level=== '3'){\n    degree = \"อันตรายต่อสุขภาพ\"\n}\n\nmsg.payload = \"ท่านได้ทำการ subscribe พื้นที่\"+msg.req.body.location+\" ระดับ\"+degree+\" เรียบร้อยค่ะ\"\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":1020,"wires":[["e43f11bf.32bb6","b1251320.0c647"]]},{"id":"a3e76310.abbee","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1530,"y":980,"wires":[]},{"id":"b1251320.0c647","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1760,"y":1100,"wires":[]},{"id":"37b2d240.bf7f0e","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1710,"y":600,"wires":[]},{"id":"3bb4d816.e81828","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1130,"y":1200,"wires":[]},{"id":"3821751c.17a0aa","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":860,"y":960,"wires":[]},{"id":"28696652.849c5a","type":"switch","z":"e7a3403a.f1422","name":"","property":"payload[0].level","propertyType":"msg","rules":[{"t":"eq","v":"req.body.level","vt":"msg"},{"t":"neq","v":"req.body.level","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":1190,"y":720,"wires":[["54168451.4ace3c"],["9203ddc3.12627","4951b855.facb48","ba89ada4.d4c99"]]},{"id":"4951b855.facb48","type":"function","z":"e7a3403a.f1422","name":"message update","func":"var newlevel\nvar oldlevel\nif (msg.req.body.level === '1'){\n    newlevel = \"ปานกลาง\"\n}\nelse if (msg.req.body.level === '2'){\n    newlevel = \"เริ่มมีผลต่อสุขภาพ\"\n}\nelse if (msg.req.body.level === '3'){\n    newlevel = \"อันตรายต่อสุขภาพ\"\n}\n\nif (msg.payload[0].level === '1'){\n    oldlevel = \"ปานกลาง\"\n}\nelse if (msg.payload[0].level === '2'){\n    oldlevel = \"เริ่มมีผลต่อสุขภาพ\"\n}\nelse if (msg.payload[0].level === '3'){\n    oldlevel = \"อันตรายต่อสุขภาพ\"\n}\n\nmsg.payload = \"ท่านได้ทำการเปลี่ยนระดับการแจ้งเตือนของ พื้นที่ \"+msg.req.body.location+\" จากระดับ\"+oldlevel+\" เป็นระดับ \"+newlevel\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":720,"wires":[["cc0bd19d.bc7ba","e6e04316.4f7dd"]]},{"id":"e6e04316.4f7dd","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2090,"y":720,"wires":[]},{"id":"9203ddc3.12627","type":"function","z":"e7a3403a.f1422","name":"update level","func":"var level = msg.req.body.level\nvar userID = msg.req.body.UserID\nvar location = msg.req.body.location\n\nmsg.payload = [{ $and: [ { UserID: userID }, { location: location } ] },{$set:{level: level}}]\nreturn msg;\n","outputs":1,"noerr":0,"x":1410,"y":780,"wires":[["6bae4753.8d3228","cd573428.c33e88"]]},{"id":"6bae4753.8d3228","type":"mongodb2 in","z":"e7a3403a.f1422","service":"_ext_","configNode":"3a60bd1b.b296e2","name":"","collection":"detailUser","operation":"update","x":1730,"y":780,"wires":[["1fad959e.de894a"]]},{"id":"1fad959e.de894a","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2010,"y":780,"wires":[]},{"id":"48e971.50d6f69","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":260,"y":940,"wires":[]},{"id":"cd573428.c33e88","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1670,"y":840,"wires":[]},{"id":"ba89ada4.d4c99","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1390,"y":600,"wires":[]},{"id":"6fbaf272.ba77fc","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":340,"y":1460,"wires":[]},{"id":"485d12fd.b13e9c","type":"function","z":"e7a3403a.f1422","name":"query user detail","func":"// var User = msg.payload.UserID\n// var location = msg.payload.location\n// // var level = msg.payload.level\n\n// msg.payload=[{UserID:User},{location:location}]\n// return msg;\n\nvar User = msg.payload.UserID\nvar location = msg.payload.location\nvar level = msg.payload.level\n\nmsg.payload=[{$and:[{UserID:User},\n            {location:location},{level:level}]\n    }];\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1380,"wires":[["7e70867c.fe0158"]]},{"id":"7e70867c.fe0158","type":"mongodb2 in","z":"e7a3403a.f1422","service":"_ext_","configNode":"3a60bd1b.b296e2","name":"","collection":"detailUser","operation":"find.toArray","x":750,"y":1360,"wires":[["138644ac.ba4d9b","3810081d.42ff18"]]},{"id":"138644ac.ba4d9b","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1060,"y":1460,"wires":[]},{"id":"3810081d.42ff18","type":"function","z":"e7a3403a.f1422","name":"if check userdetail","func":"if(msg.payload[0]!== undefined) { // Use \"0\" if this value is a string, but I guess not by inspecting your data.\n    msg.type = 0\n    return msg;\n} \nelse {\n        \n}\nmsg.type=1\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":1360,"wires":[["7b014972.0a8688","8cf5d269.c8583"]]},{"id":"7b014972.0a8688","type":"switch","z":"e7a3403a.f1422","name":"","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1290,"y":1360,"wires":[["59edb745.305388","51d796fb.f25fb8","84ce9b15.f8f9d8"],["8f21342e.835ff8"]]},{"id":"51d796fb.f25fb8","type":"function","z":"e7a3403a.f1422","name":"detail User","func":"var detailUser ={};\ndetailUser.payload = {\n    UserID : msg.req.body.UserID,\n    location : msg.req.body.location,\n    level : msg.req.body.level\n}\nreturn detailUser;","outputs":1,"noerr":0,"x":1470,"y":1380,"wires":[["a6eb119b.3a41a"]]},{"id":"a6eb119b.3a41a","type":"mongodb2 in","z":"e7a3403a.f1422","service":"_ext_","configNode":"3a60bd1b.b296e2","name":"","collection":"detailUser","operation":"deleteOne","x":1720,"y":1400,"wires":[[]]},{"id":"59edb745.305388","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1490,"y":1260,"wires":[]},{"id":"8cf5d269.c8583","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1310,"y":1460,"wires":[]},{"id":"84ce9b15.f8f9d8","type":"function","z":"e7a3403a.f1422","name":"message sub","func":"var degree\nif (msg.req.body.level === '1'){\n    degree = \"ปานกลาง\"\n}\nelse if (msg.req.body.level === '2'){\n    degree = \"เริ่มมีผลต่อสุขภาพ\"\n}\nelse if (msg.req.body.level=== '3'){\n    degree = \"อันตรายต่อสุขภาพ\"\n}\n\nmsg.payload = \"ท่านได้ทำการ unsubscribe พื้นที่\"+msg.req.body.location+\" ระดับ\"+degree+\" เรียบร้อยค่ะ\"\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":1320,"wires":[["e22070af.a8fcc"]]},{"id":"e22070af.a8fcc","type":"http response","z":"e7a3403a.f1422","name":"","statusCode":"","headers":{},"x":1950,"y":1320,"wires":[]},{"id":"8f21342e.835ff8","type":"function","z":"e7a3403a.f1422","name":"message sub","func":"var degree\nif (msg.req.body.level === '1'){\n    degree = \"ปานกลาง\"\n}\nelse if (msg.req.body.level === '2'){\n    degree = \"เริ่มมีผลต่อสุขภาพ\"\n}\nelse if (msg.req.body.level=== '3'){\n    degree = \"อันตรายต่อสุขภาพ\"\n}\n\nmsg.payload = \"ท่านยังไม่ได้ได้ทำการ subscribe พื้นที่\"+msg.req.body.location+\" ระดับ\"+degree+\" ค่ะ กรุณาทำการ subscribe ก่อนค่ะ \"\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":1460,"wires":[["81d2bfe1.23652"]]},{"id":"81d2bfe1.23652","type":"http response","z":"e7a3403a.f1422","name":"","statusCode":"","headers":{},"x":1950,"y":1460,"wires":[]},{"id":"ea6ce85.93e1d18","type":"function","z":"e7a3403a.f1422","name":"AQI ","func":"\n    msg.time = msg.payload.timenow,\n    msg.AQINOW = msg.payload.AQINOW,\n    msg.AQI1HR = msg.payload.AQI1hrNOW,\n    msg.AQI24HR = msg.payload.AQI24hrNOW,\n    msg.location= msg.payload.deviceName\n\n   msg.payload= {\n    \n    AQINOW : msg.payload.AQINOW,\n    AQI1HR : msg.payload.AQI1hrNOW,\n    AQI24HR : msg.payload.AQI24hrNOW,\n    deviceName :msg.payload.deviceName,\n    time : msg.payload.timenow\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1800,"wires":[["b680b075.73bc","a08cbb8b.211aa8","37cc9490.26884c"]]},{"id":"a08cbb8b.211aa8","type":"mongodb2 in","z":"e7a3403a.f1422","service":"_ext_","configNode":"3a60bd1b.b296e2","name":"","collection":"AQI","operation":"insertOne","x":820,"y":1700,"wires":[[]]},{"id":"9178ec48.fc2f8","type":"inject","z":"e7a3403a.f1422","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":120,"wires":[["130b2bd8.3378c4"]]},{"id":"e6918d93.0ee86","type":"mongodb2 in","z":"e7a3403a.f1422","service":"_ext_","configNode":"3a60bd1b.b296e2","name":"","collection":"detailUser","operation":"aggregate.toArray","x":1650,"y":1800,"wires":[["68b84960.564ba8","42a606f4.901708"]]},{"id":"d12e25db.5f4ee8","type":"inject","z":"e7a3403a.f1422","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1940,"wires":[["25fa22a9.6df91e"]]},{"id":"254527ee.bc33a8","type":"http request","z":"e7a3403a.f1422","name":"","method":"POST","ret":"txt","url":"https://air-quality-kmitl.herokuapp.com/notify","tls":"","x":1930,"y":1880,"wires":[["6f0ea4f7.9581ec"]]},{"id":"b680b075.73bc","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":720,"y":1780,"wires":[]},{"id":"eca7238.4c248e","type":"debug","z":"e7a3403a.f1422","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1550,"y":1980,"wires":[]},{"id":"68b84960.564ba8","type":"debug","z":"e7a3403a.f1422","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1750,"y":1980,"wires":[]},{"id":"6f0ea4f7.9581ec","type":"debug","z":"e7a3403a.f1422","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2080,"y":1900,"wires":[]},{"id":"37cc9490.26884c","type":"function","z":"e7a3403a.f1422","name":"","func":"var AQINOW = msg.payload.AQINOW\nvar AQI1HR = msg.payload.AQI1HR\nvar AQI24HR = msg.payload.AQI24HR\n\nvar AQI = []\n\nAQINOW={\n    name: \"AQINOW\",\n    value: AQINOW\n}\nAQI1HR={\n    name: \"AQI1HR\",\n    value: AQI1HR\n}\nAQI24HR={\n    name: \"AQI24HR\",\n    value: AQI24HR\n}\n\nif (AQINOW.value <= 100 ){\n    AQINOW.gte =  1\n    AQINOW.lt = 2\n}else if (AQINOW.value <= 150 ){\n    AQINOW.gte =  1\n    AQINOW.lt =  3\n}else if (AQINOW.value >150 ){\n    AQINOW.gte =  1\n    AQINOW.lt =  4\n}\n\nif (AQI1HR.value == 3 ){\n    AQI1HR.gte =  1\n    AQI1HR.lt = 2\n}else if (AQI1HR.value == 4){\n    AQI1HR.gte =  1\n    AQI1HR.lt =  3\n}else if (AQI1HR.value == 5 ){\n    AQI1HR.gte =  1\n    AQI1HR.lt =  4\n}\nif (AQI24HR.value == 3){\n    AQI24HR.gte =  1\n    AQI24HR.lt = 2\n}else if (AQI24HR.value == 4 ){\n    AQI24HR.gte =  1\n    AQI24HR.lt =  3\n}else if (AQI24HR.value == 5 ){\n    AQI24HR.gte =  1\n    AQI24HR.lt =  4\n}\n\nAQI = [AQINOW,AQI1HR,AQI24HR]\nmsg.payload = AQI\nreturn msg","outputs":1,"noerr":0,"x":970,"y":1880,"wires":[["3296e360.5c4f7c"]]},{"id":"1976f900.93bf37","type":"debug","z":"e7a3403a.f1422","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1920,"y":1960,"wires":[]},{"id":"42a606f4.901708","type":"function","z":"e7a3403a.f1422","name":"","func":"msg.payload = {\n    user: msg.payload,\n}\n\n\n\nmsg.payload.AQINOW = msg.AQINOW\nmsg.payload.AQI1HR = msg.AQI1HR\nmsg.payload.AQI24HR = msg.AQI24HR\nmsg.payload.location = msg.location\nmsg.payload.type = msg.type\nreturn msg;","outputs":1,"noerr":0,"x":1760,"y":1880,"wires":[["254527ee.bc33a8","1976f900.93bf37"]]},{"id":"6897fc1b.a3bae4","type":"function","z":"e7a3403a.f1422","name":"101-200","func":"var pipeline =[{$match:{ $and:[{level:{$gte:msg.payload.gte.toString(),$lte:msg.payload.lt.toString()}},{location:msg.location}]}}];\n\nmsg.type = msg.payload.name\nmsg.payload = [pipeline, null];\nreturn msg;\n\n// db.detailUser.aggregate(\n//   [\n     \n//           {result:{ $and: [ { $gte: [ \"$level\", 1] }, { $lt: [ \"$level\", 24 ] } ] }}\n//   ]\n// );\n\n// var pipeline = [\n//     { $match: \n//         {UserID: ID}},\n//     // {$group: { \n//     //     _id: \"$UserID\" ,\n//     //     location: { $push: \"$location\" },\n//     //     level: { $push: \"$level\" }\n//     // }}//,\n//     // { $project: {_id: 0} }\n// // ];\n\n// { $match: \n//         {UserID: ID}}","outputs":1,"noerr":0,"x":1240,"y":1880,"wires":[["e6918d93.0ee86","eca7238.4c248e"]]},{"id":"3296e360.5c4f7c","type":"split","z":"e7a3403a.f1422","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1090,"y":1880,"wires":[["6897fc1b.a3bae4","eae7054b.d20d68"]]},{"id":"25fa22a9.6df91e","type":"function","z":"e7a3403a.f1422","name":"AQI ","func":"\n    msg.time = \"2019-04-01T22:11:45.788Z\",\n    msg.AQINOW = \"130\",\n    msg.AQI1HR = \"3\",\n    msg.AQI24HR = \"3\",\n    msg.location= \"HCRL\"\n\n   msg.payload= {\n    \n    AQINOW : \"130\",\n    AQI1HR : \"3\",\n    AQI24HR : \"3\",\n    deviceName :\"HCRL\",\n    time : \"2019-04-01T22:11:45.788Z\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":2000,"wires":[["a08cbb8b.211aa8","37cc9490.26884c","6e915678.2e56d8","2cd477b0.ea4e28"]]},{"id":"4a236241.fa280c","type":"http in","z":"e7a3403a.f1422","name":"","url":"/datanewest","method":"get","upload":false,"swaggerDoc":"","x":120,"y":1580,"wires":[["b927fe00.7804f","fbd190fa.0db75"]]},{"id":"5698a12a.28f06","type":"http response","z":"e7a3403a.f1422","name":"","statusCode":"","headers":{},"x":1300,"y":1580,"wires":[]},{"id":"bd7bde58.bb0e5","type":"http in","z":"e7a3403a.f1422","name":"","url":"/AQInewest","method":"get","upload":false,"swaggerDoc":"","x":140,"y":2239,"wires":[["6704377b.f625c8"]]},{"id":"6704377b.f625c8","type":"function","z":"e7a3403a.f1422","name":"","func":"//db.airquality.find().sort({_id:-1}).limit(10);\n\nmsg.payload={deviceName:msg.req.query.deviceName};\nmsg.limit = 96;\nmsg.skip = 0;\nmsg.sort = {_id:-1}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":2260,"wires":[["103dd6db.1dadd9"]]},{"id":"494d3be.d21a9c4","type":"http response","z":"e7a3403a.f1422","name":"","statusCode":"","headers":{},"x":900,"y":2239,"wires":[]},{"id":"79bfce34.e476a","type":"debug","z":"e7a3403a.f1422","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":860,"y":2299,"wires":[]},{"id":"103dd6db.1dadd9","type":"mongodb in","z":"e7a3403a.f1422","mongodb":"80a719b3.ec74a8","name":"","collection":"AQI","operation":"find","x":640,"y":2260,"wires":[["79bfce34.e476a","494d3be.d21a9c4"]]},{"id":"9a9ce620.95e488","type":"json","z":"e7a3403a.f1422","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":1820,"wires":[["ea6ce85.93e1d18","1351e469.de46bc"]]},{"id":"eae7054b.d20d68","type":"debug","z":"e7a3403a.f1422","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1220,"y":1980,"wires":[]},{"id":"b927fe00.7804f","type":"function","z":"e7a3403a.f1422","name":"query data newest","func":"\n\n//msg.payload=[{date:{$gte:(date1),$lte:(date2)}}];\nmsg.payload={deviceName:msg.req.query.deviceName};\n//{ $and: [ { price: { $ne: 1.99 } }, { price: { $exists: true } } ] }\nmsg.limit = 96;\nmsg.skip = 0;\nmsg.sort = {_id:-1}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1540,"wires":[["680c8226.90dafc"]]},{"id":"fbd190fa.0db75","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":280,"y":1640,"wires":[]},{"id":"76ba108b.958f2","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":1640,"wires":[]},{"id":"680c8226.90dafc","type":"mongodb in","z":"e7a3403a.f1422","mongodb":"80a719b3.ec74a8","name":"","collection":"airquality","operation":"find","x":600,"y":1520,"wires":[["76ba108b.958f2","5698a12a.28f06"]]},{"id":"1351e469.de46bc","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":480,"y":1920,"wires":[]},{"id":"4f4a6382.e119cc","type":"mongodb2 in","z":"e7a3403a.f1422","service":"_ext_","configNode":"3a60bd1b.b296e2","name":"","collection":"airquality","operation":"aggregate.toArray","x":730,"y":760,"wires":[["6b38b309.93938c"]]},{"id":"38323b48.2e6bd4","type":"function","z":"e7a3403a.f1422","name":"query device","func":"// db.sales.aggregate( [ { $group : { _id : \"$item\" } } ] )\n\n\nvar pipeline = [\n    { $group: { \n        _id: \"$deviceEUI\" ,\n        //deviceEUI: { $first: \"$deviceEUI\" },\n        deviceName: { $first: \"$deviceName\" }\n    }}//,\n    //{ $project: {_id: 0} }\n];\n\nmsg.payload = [pipeline, null];\nmsg.sort = {deviceName:1}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":760,"wires":[["4f4a6382.e119cc","f69c77dc.438d18"]]},{"id":"6b38b309.93938c","type":"http response","z":"e7a3403a.f1422","name":"","statusCode":"","headers":{},"x":1050,"y":480,"wires":[]},{"id":"4c08711b.df7b1","type":"http in","z":"e7a3403a.f1422","name":"","url":"/device","method":"get","upload":false,"swaggerDoc":"","x":110,"y":760,"wires":[["38323b48.2e6bd4","f69c77dc.438d18"]]},{"id":"f69c77dc.438d18","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":350,"y":680,"wires":[]},{"id":"3955b05f.f9332","type":"mongodb2 in","z":"e7a3403a.f1422","service":"_ext_","configNode":"3a60bd1b.b296e2","name":"","collection":"airquality","operation":"find.toArray","x":610,"y":500,"wires":[["6b38b309.93938c","772d0818.cd54c8"]]},{"id":"772d0818.cd54c8","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1130,"y":420,"wires":[]},{"id":"565055c5.eed21c","type":"function","z":"e7a3403a.f1422","name":"query historical data","func":"var date1 = msg.req.query.date1;\nvar date2 = msg.req.query.date2;\nvar device = msg.req.query.device\n\n//msg.payload=[{date:{$gte:(date1),$lte:(date2)}}];\nmsg.payload=[{ $and:[{date:{$gte:(date1),$lte:(date2)}},{deviceEUI:device}]}];\n//{ $and: [ { price: { $ne: 1.99 } }, { price: { $exists: true } } ] }\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":580,"wires":[["3955b05f.f9332"]]},{"id":"fc98a27c.fa82","type":"http in","z":"e7a3403a.f1422","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":100,"y":500,"wires":[["3955b05f.f9332"]]},{"id":"69a6b91f.f7f4b8","type":"mongodb2 in","z":"e7a3403a.f1422","service":"_ext_","configNode":"3a60bd1b.b296e2","name":"","collection":"airquality","operation":"insertOne","x":1260,"y":140,"wires":[["772d0818.cd54c8"]]},{"id":"225c1c18.8a6564","type":"http in","z":"e7a3403a.f1422","name":"","url":"/historical","method":"get","upload":false,"swaggerDoc":"","x":110,"y":580,"wires":[["565055c5.eed21c","d85d230.63279e"]]},{"id":"cc4e5c4c.14e5","type":"function","z":"e7a3403a.f1422","name":"New msg","func":"var Newmsg={};\nNewmsg.payload =\n{\n    temperature: msg.payload.object.temperature,\n    \n    humidity:msg.payload.object.humidity,\n    \n    pressure:msg.payload.object.pressure,\n    \n    Battery:msg.payload.object.battery,\n    \n    CO:msg.payload.object.CO,\n    \n    NO2:msg.payload.object.NO2,\n    \n    O3:msg.payload.object.O3,\n    \n    SO2:msg.payload.object.SO2,\n    \n    PM10:msg.payload.object.pm10,\n    \n    PM25:msg.payload.object.pm25,\n    \n    date:msg.date,\n    \n    latitude:msg.payload.rxInfo[0].location.latitude,\n    \n    longitude:msg.payload.rxInfo[0].location.longitude,\n    \n    deviceEUI:msg.payload.devEUI,\n    \n    deviceName:msg.payload.deviceName\n}\n\nreturn Newmsg;","outputs":1,"noerr":0,"x":900,"y":180,"wires":[["69a6b91f.f7f4b8","d1c8f004.3825","da18d82a.ef64d8","342a81ac.9dcfde"]]},{"id":"d85d230.63279e","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":570,"y":680,"wires":[]},{"id":"d1c8f004.3825","type":"mqtt out","z":"e7a3403a.f1422","name":"public","topic":"application/Newmsg","qos":"2","retain":"","broker":"99823add.360468","x":1110,"y":80,"wires":[]},{"id":"da18d82a.ef64d8","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1070,"y":200,"wires":[]},{"id":"342a81ac.9dcfde","type":"function","z":"e7a3403a.f1422","name":"if alert","func":"// if alert\n    // return topic, temp   \nreturn;","outputs":1,"noerr":0,"x":1590,"y":440,"wires":[[]]},{"id":"c5709478.d99cf8","type":"json","z":"e7a3403a.f1422","name":"JSON","property":"payload","action":"obj","pretty":false,"x":710,"y":240,"wires":[["cc4e5c4c.14e5","30abe54e.3c0baa"]]},{"id":"30abe54e.3c0baa","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":320,"wires":[]},{"id":"7161693a.daa2f8","type":"moment","z":"e7a3403a.f1422","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Bangkok","adjAmount":0,"adjType":"days","adjDir":"add","format":"kk:mm","locale":"C","output":"time","outputType":"msg","outTz":"Asia/Bangkok","x":520,"y":180,"wires":[["c5709478.d99cf8"]]},{"id":"4521ac1.d36da54","type":"moment","z":"e7a3403a.f1422","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Bangkok","adjAmount":"7","adjType":"hours","adjDir":"add","format":"","locale":"C","output":"date","outputType":"msg","outTz":"Asia/Bangkok","x":280,"y":180,"wires":[["7161693a.daa2f8"]]},{"id":"94c3bdfb.091bb","type":"mqtt in","z":"e7a3403a.f1422","name":"value sensor","topic":"application/14/#","qos":"2","broker":"99823add.360468","x":70,"y":160,"wires":[["4521ac1.d36da54"]]},{"id":"bd02cd54.0751","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":300,"y":1760,"wires":[]},{"id":"2cb6e72e.bfeab8","type":"http in","z":"e7a3403a.f1422","name":"","url":"/AQIhistorical","method":"get","upload":false,"swaggerDoc":"","x":150,"y":2479,"wires":[["75af02f6.6f537c"]]},{"id":"75af02f6.6f537c","type":"function","z":"e7a3403a.f1422","name":"query historical data","func":"var date1 = msg.req.query.date1;\nvar date2 = msg.req.query.date2;\nvar device = msg.req.query.device\n\n//msg.payload=[{date:{$gte:(date1),$lte:(date2)}}];\nmsg.payload=[{ $and:[{time:{$gte:(date1),$lte:(date2)}},{deviceName:device}]}];\n//{ $and: [ { price: { $ne: 1.99 } }, { price: { $exists: true } } ] }\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":2479,"wires":[["2847eae3.93ff66"]]},{"id":"2847eae3.93ff66","type":"mongodb2 in","z":"e7a3403a.f1422","service":"_ext_","configNode":"3a60bd1b.b296e2","name":"","collection":"AQI","operation":"find.toArray","x":610,"y":2399,"wires":[["d6166318.27359","b3efbec8.bbe1d"]]},{"id":"d6166318.27359","type":"http response","z":"e7a3403a.f1422","name":"","statusCode":"","headers":{},"x":1070,"y":2379,"wires":[]},{"id":"b3efbec8.bbe1d","type":"debug","z":"e7a3403a.f1422","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":880,"y":2439,"wires":[]},{"id":"2cd477b0.ea4e28","type":"function","z":"e7a3403a.f1422","name":"previous row","func":"//db.airquality.find().sort({_id:-1}).limit(10);\n\nmsg.payload={deviceName:msg.payload.deviceName};\nmsg.limit = 1;\nmsg.skip = 0;\nmsg.sort = {_id:-1}\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":2080,"wires":[["dc99b180.d9168"]]},{"id":"dc99b180.d9168","type":"mongodb in","z":"e7a3403a.f1422","mongodb":"80a719b3.ec74a8","name":"","collection":"AQI","operation":"find","x":760,"y":2080,"wires":[["5b534b8f.a4f834"]]},{"id":"52291d65.8169f4","type":"debug","z":"e7a3403a.f1422","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1150,"y":2100,"wires":[]},{"id":"5b534b8f.a4f834","type":"function","z":"e7a3403a.f1422","name":"value prev row","func":"if (msg.payload[0].AQINOW <= 100 ){\n    msg.AQINOW_old = \"3\"\n}else if (msg.payload[0].AQINOW <= 150 ){\n    msg.AQINOW_old = \"4\"\n}else if (msg.payload[0].AQINOW >150 ){\n    msg.AQINOW_old = \"5\"\n}\n\nmsg.AQI1HR_old = msg.payload[0].AQI1HR,\nmsg.AQI24HR_old = msg.payload[0].AQI24HR\n\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":2020,"wires":[["52291d65.8169f4","37cc9490.26884c"]]}]