flow/myflows.json
[{"id":"e7a3403a.f1422","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bf6573fd.290bd","type":"tab","label":"login","disabled":false,"info":""},{"id":"d48304bb.dca368","type":"tab","label":"dashboard","disabled":false,"info":""},{"id":"c12fc663.9a2218","type":"tab","label":"API","disabled":false,"info":""},{"id":"b45f2c5e.fcf65","type":"subflow","name":"logintoLoRaServer","info":"","category":"","in":[{"x":140,"y":120,"wires":[{"id":"b7b059d.a6b25a8"}]}],"out":[{"x":490,"y":240,"wires":[{"id":"1e01febc.c69831","port":0}]}]},{"id":"99823add.360468","type":"mqtt-broker","z":"","name":"senser value","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fceb968a.a6fae8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#01beb5","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":60,"sy":60,"gx":25,"gy":25,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"52f4e76f.020528","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"f01422cb.84dd9","type":"ui_group","z":"","name":"","tab":"f6ec1eb8.e4f9e","disp":true,"width":"6","collapse":false},{"id":"f6ec1eb8.e4f9e","type":"ui_tab","z":"","name":"dashboard","icon":"dashboard","order":2},{"id":"1eb539b.5a33fc6","type":"ui_group","z":"","name":"","tab":"f6ec1eb8.e4f9e","order":2,"disp":true,"width":"6","collapse":false},{"id":"c131e358.edbe5","type":"ui_group","z":"","name":"","tab":"f6ec1eb8.e4f9e","order":3,"disp":true,"width":"6","collapse":false},{"id":"4edb447f.342bac","type":"tls-config","z":"","name":"ignore cert","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"c938a20c.8adb5","type":"ui_group","z":"","name":"","tab":"52f4e76f.020528","disp":true,"width":"6","collapse":true},{"id":"b779b5df.8583d8","type":"mqtt-broker","z":"","name":"","broker":"demo.thingsboard.io","port":"1883","tls":"4edb447f.342bac","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"594bbc16.0b2db4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"94c3bdfb.091bb","type":"mqtt in","z":"e7a3403a.f1422","name":"value sensor","topic":"application/8/#","qos":"2","broker":"99823add.360468","x":90,"y":60,"wires":[["c5709478.d99cf8"]]},{"id":"30abe54e.3c0baa","type":"debug","z":"e7a3403a.f1422","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":290,"y":180,"wires":[]},{"id":"c5709478.d99cf8","type":"json","z":"e7a3403a.f1422","name":"JSON","property":"payload","action":"obj","pretty":false,"x":290,"y":60,"wires":[["cc4e5c4c.14e5"]]},{"id":"cc4e5c4c.14e5","type":"function","z":"e7a3403a.f1422","name":"New msg","func":"var Newmsg={};\nNewmsg.payload =\n{\n    temperature: msg.payload.object.temperatureSensor[1],\n    \n    humidity:msg.payload.object.humiditySensor[2],\n    \n    barometer:msg.payload.object.barometer[0]\n    \n}\n\nreturn Newmsg;","outputs":1,"noerr":0,"x":520,"y":80,"wires":[["9f514142.a00fb"]]},{"id":"d2bf81ca.193ee","type":"mqtt in","z":"e7a3403a.f1422","name":"sub","topic":"application/Newmsg","qos":"2","broker":"99823add.360468","x":70,"y":180,"wires":[["30abe54e.3c0baa"]]},{"id":"d1c8f004.3825","type":"mqtt out","z":"e7a3403a.f1422","name":"public","topic":"application/Newmsg","qos":"2","retain":"","broker":"99823add.360468","x":820,"y":120,"wires":[]},{"id":"24743968.3cb576","type":"ui_form","z":"bf6573fd.290bd","name":"","label":"Login","group":"c938a20c.8adb5","order":1,"width":"0","height":"0","options":[{"label":"username","value":"username","type":"text","required":true},{"label":"password","value":"password","type":"password","required":true}],"formValue":{"username":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":160,"wires":[["217e4c6f.96b8c4"]]},{"id":"70205462.316a6c","type":"debug","z":"bf6573fd.290bd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":420,"wires":[]},{"id":"e8aec7e6.e35b98","type":"debug","z":"d48304bb.dca368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":520,"wires":[]},{"id":"730c7d0.2a54384","type":"ui_gauge","z":"d48304bb.dca368","name":"","group":"f01422cb.84dd9","order":1,"width":"6","height":"6","gtype":"gage","title":"temperature","label":"","format":"{{payload.temp}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"50","x":770,"y":340,"wires":[]},{"id":"17520e49.8497c2","type":"mqtt in","z":"d48304bb.dca368","name":"value sensor","topic":"application/Newmsg","qos":"2","broker":"99823add.360468","x":290,"y":400,"wires":[["3252cedd.c55312"]]},{"id":"3252cedd.c55312","type":"json","z":"d48304bb.dca368","name":"","property":"payload","action":"obj","pretty":false,"x":400,"y":560,"wires":[["e8aec7e6.e35b98","730c7d0.2a54384","275a83c4.0bf21c","6e6e0fca.21782","c389c751.0764c8","255170b6.7fc14","48498770.c20238"]]},{"id":"275a83c4.0bf21c","type":"ui_gauge","z":"d48304bb.dca368","name":"","group":"1eb539b.5a33fc6","order":1,"width":"6","height":"6","gtype":"gage","title":"humidity","label":"","format":"{{payload.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":240,"wires":[]},{"id":"6e6e0fca.21782","type":"ui_gauge","z":"d48304bb.dca368","name":"","group":"c131e358.edbe5","order":1,"width":"6","height":"6","gtype":"gage","title":"barometer","label":"","format":"{{payload.barometer}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":140,"wires":[]},{"id":"acd483f1.3e55d","type":"ui_chart","z":"d48304bb.dca368","name":"","group":"1eb539b.5a33fc6","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":800,"y":740,"wires":[[],[]]},{"id":"72720ff4.50bf6","type":"ui_chart","z":"d48304bb.dca368","name":"","group":"c131e358.edbe5","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":830,"y":800,"wires":[[],[]]},{"id":"c389c751.0764c8","type":"function","z":"d48304bb.dca368","name":"get temp","func":"msg.payload=msg.payload.temp\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":660,"wires":[["170889e4.0515f6"]]},{"id":"255170b6.7fc14","type":"function","z":"d48304bb.dca368","name":"get humidity","func":"msg.payload =msg.payload.humidity\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":740,"wires":[["acd483f1.3e55d"]]},{"id":"48498770.c20238","type":"function","z":"d48304bb.dca368","name":"get barometer","func":"msg.payload =msg.payload.barometer\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":820,"wires":[["72720ff4.50bf6"]]},{"id":"170889e4.0515f6","type":"ui_chart","z":"d48304bb.dca368","name":"","group":"f01422cb.84dd9","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":800,"y":600,"wires":[[],[]]},{"id":"8fcded9.e14e41","type":"http request","z":"b45f2c5e.fcf65","name":"login","method":"POST","ret":"txt","url":"https://18.136.100.79:8080/api/internal/login","tls":"4edb447f.342bac","x":230,"y":180,"wires":[["80e3d84c.65e6f8"]]},{"id":"91bbf832.37dc38","type":"debug","z":"c12fc663.9a2218","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":340,"wires":[]},{"id":"edfc231a.2848b","type":"inject","z":"c12fc663.9a2218","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":40,"wires":[["57f546c9.0c0f18"]]},{"id":"80e3d84c.65e6f8","type":"json","z":"b45f2c5e.fcf65","name":"","property":"payload","action":"","pretty":false,"x":370,"y":180,"wires":[["1e01febc.c69831"]]},{"id":"1e01febc.c69831","type":"function","z":"b45f2c5e.fcf65","name":"seperate token","func":"msg.token = msg.payload.jwt\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":240,"wires":[[]]},{"id":"562be716.993448","type":"comment","z":"b45f2c5e.fcf65","name":"TOKEN","info":"","x":270,"y":300,"wires":[]},{"id":"fd333240.47a6d","type":"change","z":"c12fc663.9a2218","name":"","rules":[{"t":"set","p":"headers.authorization","pt":"msg","to":"token","tot":"msg"},{"t":"set","p":"limit","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":100,"wires":[["938914e0.112cd8"]]},{"id":"938914e0.112cd8","type":"http request","z":"c12fc663.9a2218","name":"","method":"GET","ret":"txt","url":"https://18.136.100.79:8080/api/users?limit={{{limit}}}","tls":"4edb447f.342bac","x":550,"y":180,"wires":[["c6a4cb65.fda1e8"]]},{"id":"c6a4cb65.fda1e8","type":"json","z":"c12fc663.9a2218","name":"","property":"payload","action":"","pretty":false,"x":540,"y":240,"wires":[["91bbf832.37dc38"]]},{"id":"dd31ed04.931cf","type":"subflow:b45f2c5e.fcf65","z":"c12fc663.9a2218","x":230,"y":160,"wires":[["fd333240.47a6d"]]},{"id":"b7b059d.a6b25a8","type":"json","z":"b45f2c5e.fcf65","name":"","property":"payload","action":"","pretty":false,"x":270,"y":120,"wires":[["8fcded9.e14e41"]]},{"id":"57f546c9.0c0f18","type":"function","z":"c12fc663.9a2218","name":"","func":"msg.payload = {\n    username: \"palaloyploy\",\n    password: \"1234256789\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":80,"wires":[["dd31ed04.931cf"]]},{"id":"217e4c6f.96b8c4","type":"subflow:b45f2c5e.fcf65","z":"bf6573fd.290bd","name":"","x":270,"y":180,"wires":[["7418c41f.217d6c"]]},{"id":"afc1abf7.4330e8","type":"ui_ui_control","z":"bf6573fd.290bd","name":"","x":620,"y":320,"wires":[[]]},{"id":"81b2c7ce.3a2b38","type":"function","z":"bf6573fd.290bd","name":"selectPage","func":"msg.payload = {\n    tab:\"dashboard\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":260,"wires":[["afc1abf7.4330e8"]]},{"id":"7418c41f.217d6c","type":"switch","z":"bf6573fd.290bd","name":"","property":"payload.error","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":200,"wires":[["81b2c7ce.3a2b38"]]},{"id":"41cb53ec.2a345c","type":"inject","z":"e7a3403a.f1422","name":"","topic":"","payload":"{\"temperature\":27.2,\"humudity\":45,\"barometer\":2100}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":280,"wires":[["af4d1350.a7626","29ff3a45.bd08c6"]]},{"id":"29ff3a45.bd08c6","type":"json","z":"e7a3403a.f1422","name":"","property":"payload","action":"","pretty":false,"x":690,"y":200,"wires":[["108c0831.2f23a8"]]},{"id":"108c0831.2f23a8","type":"mqtt out","z":"e7a3403a.f1422","name":"","topic":"v1/devices/me/telemetry","qos":"2","retain":"true","broker":"b779b5df.8583d8","x":890,"y":200,"wires":[]},{"id":"be681256.7c149","type":"comment","z":"e7a3403a.f1422","name":"MQTT","info":"mosquitto_pub -h demo.thingsboard.io -u 9UyJEqK7ZjebQOf62EQz -t v1/devices/me/telemetry -m \"{\\\"temperature\\\":36.6,\\\"humodity\\\":215,\\\"barometer\\\":2100}\"","x":190,"y":380,"wires":[]},{"id":"af4d1350.a7626","type":"function","z":"e7a3403a.f1422","name":"command","func":"msg.payload = \"mosquitto_pub -h demo.thingsboard.io -u rZIrPhMoYAmzvWEScKeJ -t v1/devices/me/telemetry -m \\\"{\\\"temperature\\\":16.6,\\\"humidity\\\":15,\\\"barometer\\\":100}\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":280,"wires":[[]]},{"id":"f9b81111.00d02","type":"http request","z":"e7a3403a.f1422","name":"","method":"POST","ret":"txt","url":"","tls":"","x":670,"y":380,"wires":[[]]},{"id":"9f514142.a00fb","type":"function","z":"e7a3403a.f1422","name":"","func":"msg.token = \"rZIrPhMoYAmzvWEScKeJ\"\nmsg.url = \"http://demo.thingsboard.io/api/v1/\"+msg.token+\"/telemetry\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":380,"wires":[["d822f844.c7ddc8"]]},{"id":"d822f844.c7ddc8","type":"json","z":"e7a3403a.f1422","name":"","property":"payload","action":"","pretty":false,"x":510,"y":380,"wires":[["f9b81111.00d02"]]},{"id":"8d2eba59.cfc848","type":"mqtt in","z":"e7a3403a.f1422","name":"","topic":"v1/devices/me/telemetry","qos":"2","broker":"b779b5df.8583d8","x":130,"y":280,"wires":[["30abe54e.3c0baa"]]},{"id":"7b3d596a.e7cd98","type":"exec","z":"e7a3403a.f1422","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":850,"y":280,"wires":[[],[],[]]}]