flow/myflows.json
[{"id":"e7a3403a.f1422","type":"tab","label":"Linebot","disabled":false,"info":""},{"id":"47cab60f.e528d8","type":"tab","label":"Frontend","disabled":false,"info":""},{"id":"4d7593be.8636ac","type":"tab","label":"LoRa","disabled":false,"info":""},{"id":"99823add.360468","type":"mqtt-broker","z":"","name":"senser value","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4edb447f.342bac","type":"tls-config","z":"","name":"ignore cert","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"b779b5df.8583d8","type":"mqtt-broker","z":"","name":"","broker":"demo.thingsboard.io","port":"1883","tls":"4edb447f.342bac","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"594bbc16.0b2db4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"80a719b3.ec74a8","type":"mongodb","z":"","hostname":"localhost","port":"27017","db":"lorawan","name":""},{"id":"3a60bd1b.b296e2","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/lorawan","name":"lorawan","options":"","parallelism":"-1"},{"id":"22d0ff3c.0582","type":"http in","z":"e7a3403a.f1422","name":"","url":"/subscribe","method":"post","upload":false,"swaggerDoc":"","x":140,"y":400,"wires":[["de672732.4afdd8","48e971.50d6f69"]]},{"id":"1a36b4e8.0a436b","type":"http in","z":"e7a3403a.f1422","name":"","url":"/unsubscribe","method":"post","upload":false,"swaggerDoc":"","x":150,"y":940,"wires":[["6fbaf272.ba77fc","485d12fd.b13e9c"]]},{"id":"2b0caf8a.a8138","type":"mongodb2 in","z":"e7a3403a.f1422","service":"_ext_","configNode":"3a60bd1b.b296e2","name":"","collection":"detailUser","operation":"find.toArray","x":630,"y":440,"wires":[["6ad8a672.7ede58","3821751c.17a0aa"]]},{"id":"36da04c4.2a6b8c","type":"mqtt in","z":"e7a3403a.f1422","name":"","topic":"application/aqi","qos":"2","broker":"99823add.360468","x":130,"y":1380,"wires":[["bd02cd54.0751","9a9ce620.95e488"]]},{"id":"6e915678.2e56d8","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":370,"y":1860,"wires":[]},{"id":"6ad8a672.7ede58","type":"function","z":"e7a3403a.f1422","name":"if check userdetail","func":"if(msg.payload[0]!== undefined) { // Use \"0\" if this value is a string, but I guess not by inspecting your data.\n    msg.type = 0\n    return msg;\n} \nelse {\n        \n}\nmsg.type=1\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":420,"wires":[["4db4e71d.aa3e08"]]},{"id":"de672732.4afdd8","type":"function","z":"e7a3403a.f1422","name":"query user detail","func":"// var User = msg.payload.UserID\n// var location = msg.payload.location\n// // var level = msg.payload.level\n\n// msg.payload=[{UserID:User},{location:location}]\n// return msg;\n\nvar User = msg.payload.UserID\nvar location = msg.payload.location\nvar level = msg.payload.level\n\nmsg.payload=[{$and:[{UserID:User},\n            {location:location}]\n    }];\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":440,"wires":[["2b0caf8a.a8138"]]},{"id":"4db4e71d.aa3e08","type":"switch","z":"e7a3403a.f1422","name":"","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1110,"y":420,"wires":[["28696652.849c5a"],["cf353c95.304c3","ec928c35.90917"]]},{"id":"6bb47897.de4298","type":"mongodb2 in","z":"e7a3403a.f1422","service":"_ext_","configNode":"3a60bd1b.b296e2","name":"","collection":"detailUser","operation":"insertOne","x":1640,"y":460,"wires":[["bdcc6de7.0b6e2"]]},{"id":"cf353c95.304c3","type":"function","z":"e7a3403a.f1422","name":"detail User","func":"var detailUser ={};\ndetailUser.payload = {\n    UserID : msg.req.body.UserID,\n    location : msg.req.body.location,\n    level : msg.req.body.level\n}\nreturn detailUser;","outputs":1,"noerr":0,"x":1330,"y":460,"wires":[["6bb47897.de4298","a3e76310.abbee"]]},{"id":"bdcc6de7.0b6e2","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1910,"y":460,"wires":[]},{"id":"cc0bd19d.bc7ba","type":"http response","z":"e7a3403a.f1422","name":"","statusCode":"","headers":{},"x":2050,"y":200,"wires":[]},{"id":"e43f11bf.32bb6","type":"http response","z":"e7a3403a.f1422","name":"","statusCode":"","headers":{},"x":1790,"y":580,"wires":[]},{"id":"2993ef36.5ba3b","type":"http in","z":"e7a3403a.f1422","name":"","url":"/usersub","method":"get","upload":false,"swaggerDoc":"","x":130,"y":700,"wires":[["1663ebf6.a6cea4","7a2a2500.fe388c"]]},{"id":"1663ebf6.a6cea4","type":"function","z":"e7a3403a.f1422","name":"query user sub","func":"// db.sales.aggregate( [ { $group : { _id : \"$item\" } } ] )\nvar ID = msg.req.query.UserId\n\nvar pipeline = [\n    { $match: \n        {UserID: ID}},\n    // {$group: { \n    //     _id: \"$UserID\" ,\n    //     location: { $push: \"$location\" },\n    //     level: { $push: \"$level\" }\n    // }}//,\n    // { $project: {_id: 0} }\n];\n\nmsg.payload = [pipeline, null];\nmsg.sort = {location:1};\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":700,"wires":[["7e580319.4baffc"]]},{"id":"7e580319.4baffc","type":"mongodb2 in","z":"e7a3403a.f1422","service":"_ext_","configNode":"3a60bd1b.b296e2","name":"","collection":"detailUser","operation":"aggregate.toArray","x":870,"y":700,"wires":[["568de148.39b9","3bb4d816.e81828"]]},{"id":"568de148.39b9","type":"http response","z":"e7a3403a.f1422","name":"","statusCode":"","headers":{},"x":1110,"y":680,"wires":[]},{"id":"7a2a2500.fe388c","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":560,"wires":[]},{"id":"54168451.4ace3c","type":"function","z":"e7a3403a.f1422","name":"message sub dup","func":"var level\nif (msg.req.body.level === '1'){\n    level = \"ปานกลาง\"\n}\nelse if (msg.req.body.level === '2'){\n    level = \"เริ่มมีผลต่อสุขภาพ\"\n}\nelse if (msg.req.body.level === '3'){\n    level = \"อันตรายต่อสุขภาพ\"\n}\nmsg.payload = \"ท่านได้ทำการ subscribe พื้นที่ \"+msg.req.body.location+\" ระดับ\"+level+\" ไปก่อนหน้านี้แล้วค่ะ\"\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":220,"wires":[["cc0bd19d.bc7ba","37b2d240.bf7f0e"]]},{"id":"ec928c35.90917","type":"function","z":"e7a3403a.f1422","name":"message sub","func":"var degree\nif (msg.req.body.level === '1'){\n    degree = \"ปานกลาง\"\n}\nelse if (msg.req.body.level === '2'){\n    degree = \"เริ่มมีผลต่อสุขภาพ\"\n}\nelse if (msg.req.body.level=== '3'){\n    degree = \"อันตรายต่อสุขภาพ\"\n}\n\nmsg.payload = \"ท่านได้ทำการ subscribe พื้นที่\"+msg.req.body.location+\" ระดับ\"+degree+\" เรียบร้อยค่ะ\"\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":580,"wires":[["e43f11bf.32bb6","b1251320.0c647"]]},{"id":"a3e76310.abbee","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1550,"y":540,"wires":[]},{"id":"b1251320.0c647","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1780,"y":660,"wires":[]},{"id":"37b2d240.bf7f0e","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1730,"y":160,"wires":[]},{"id":"3bb4d816.e81828","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1150,"y":760,"wires":[]},{"id":"3821751c.17a0aa","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":880,"y":520,"wires":[]},{"id":"28696652.849c5a","type":"switch","z":"e7a3403a.f1422","name":"","property":"payload[0].level","propertyType":"msg","rules":[{"t":"eq","v":"req.body.level","vt":"msg"},{"t":"neq","v":"req.body.level","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":1210,"y":280,"wires":[["54168451.4ace3c"],["9203ddc3.12627","4951b855.facb48","ba89ada4.d4c99"]]},{"id":"4951b855.facb48","type":"function","z":"e7a3403a.f1422","name":"message update","func":"var newlevel\nvar oldlevel\nif (msg.req.body.level === '1'){\n    newlevel = \"ปานกลาง\"\n}\nelse if (msg.req.body.level === '2'){\n    newlevel = \"เริ่มมีผลต่อสุขภาพ\"\n}\nelse if (msg.req.body.level === '3'){\n    newlevel = \"อันตรายต่อสุขภาพ\"\n}\n\nif (msg.payload[0].level === '1'){\n    oldlevel = \"ปานกลาง\"\n}\nelse if (msg.payload[0].level === '2'){\n    oldlevel = \"เริ่มมีผลต่อสุขภาพ\"\n}\nelse if (msg.payload[0].level === '3'){\n    oldlevel = \"อันตรายต่อสุขภาพ\"\n}\n\nmsg.payload = \"ท่านได้ทำการเปลี่ยนระดับการแจ้งเตือนของ พื้นที่ \"+msg.req.body.location+\" จากระดับ\"+oldlevel+\" เป็นระดับ \"+newlevel\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":280,"wires":[["cc0bd19d.bc7ba","e6e04316.4f7dd"]]},{"id":"e6e04316.4f7dd","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2110,"y":280,"wires":[]},{"id":"9203ddc3.12627","type":"function","z":"e7a3403a.f1422","name":"update level","func":"var level = msg.req.body.level\nvar userID = msg.req.body.UserID\nvar location = msg.req.body.location\n\nmsg.payload = [{ $and: [ { UserID: userID }, { location: location } ] },{$set:{level: level}}]\nreturn msg;\n","outputs":1,"noerr":0,"x":1430,"y":340,"wires":[["6bae4753.8d3228","cd573428.c33e88"]]},{"id":"6bae4753.8d3228","type":"mongodb2 in","z":"e7a3403a.f1422","service":"_ext_","configNode":"3a60bd1b.b296e2","name":"","collection":"detailUser","operation":"update","x":1750,"y":340,"wires":[["1fad959e.de894a"]]},{"id":"1fad959e.de894a","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2030,"y":340,"wires":[]},{"id":"48e971.50d6f69","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":280,"y":500,"wires":[]},{"id":"cd573428.c33e88","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1690,"y":400,"wires":[]},{"id":"ba89ada4.d4c99","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1410,"y":160,"wires":[]},{"id":"6fbaf272.ba77fc","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":360,"y":1020,"wires":[]},{"id":"485d12fd.b13e9c","type":"function","z":"e7a3403a.f1422","name":"query user detail","func":"// var User = msg.payload.UserID\n// var location = msg.payload.location\n// // var level = msg.payload.level\n\n// msg.payload=[{UserID:User},{location:location}]\n// return msg;\n\nvar User = msg.payload.UserID\nvar location = msg.payload.location\nvar level = msg.payload.level\n\nmsg.payload=[{$and:[{UserID:User},\n            {location:location},{level:level}]\n    }];\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":940,"wires":[["7e70867c.fe0158"]]},{"id":"7e70867c.fe0158","type":"mongodb2 in","z":"e7a3403a.f1422","service":"_ext_","configNode":"3a60bd1b.b296e2","name":"","collection":"detailUser","operation":"find.toArray","x":770,"y":920,"wires":[["138644ac.ba4d9b","3810081d.42ff18"]]},{"id":"138644ac.ba4d9b","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1080,"y":1020,"wires":[]},{"id":"3810081d.42ff18","type":"function","z":"e7a3403a.f1422","name":"if check userdetail","func":"if(msg.payload[0]!== undefined) { // Use \"0\" if this value is a string, but I guess not by inspecting your data.\n    msg.type = 0\n    return msg;\n} \nelse {\n        \n}\nmsg.type=1\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":920,"wires":[["7b014972.0a8688","8cf5d269.c8583"]]},{"id":"7b014972.0a8688","type":"switch","z":"e7a3403a.f1422","name":"","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1310,"y":920,"wires":[["59edb745.305388","51d796fb.f25fb8","84ce9b15.f8f9d8"],["8f21342e.835ff8"]]},{"id":"51d796fb.f25fb8","type":"function","z":"e7a3403a.f1422","name":"detail User","func":"var detailUser ={};\ndetailUser.payload = {\n    UserID : msg.req.body.UserID,\n    location : msg.req.body.location,\n    level : msg.req.body.level\n}\nreturn detailUser;","outputs":1,"noerr":0,"x":1510,"y":920,"wires":[["a6eb119b.3a41a"]]},{"id":"a6eb119b.3a41a","type":"mongodb2 in","z":"e7a3403a.f1422","service":"_ext_","configNode":"3a60bd1b.b296e2","name":"","collection":"detailUser","operation":"deleteOne","x":1770,"y":920,"wires":[[]]},{"id":"59edb745.305388","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1510,"y":820,"wires":[]},{"id":"8cf5d269.c8583","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1330,"y":1020,"wires":[]},{"id":"84ce9b15.f8f9d8","type":"function","z":"e7a3403a.f1422","name":"message sub","func":"var degree\nif (msg.req.body.level === '1'){\n    degree = \"ปานกลาง\"\n}\nelse if (msg.req.body.level === '2'){\n    degree = \"เริ่มมีผลต่อสุขภาพ\"\n}\nelse if (msg.req.body.level=== '3'){\n    degree = \"อันตรายต่อสุขภาพ\"\n}\n\nmsg.payload = \"ท่านได้ทำการ unsubscribe พื้นที่\"+msg.req.body.location+\" ระดับ\"+degree+\" เรียบร้อยค่ะ\"\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":880,"wires":[["e22070af.a8fcc"]]},{"id":"e22070af.a8fcc","type":"http response","z":"e7a3403a.f1422","name":"","statusCode":"","headers":{},"x":1970,"y":880,"wires":[]},{"id":"8f21342e.835ff8","type":"function","z":"e7a3403a.f1422","name":"message sub","func":"var degree\nif (msg.req.body.level === '1'){\n    degree = \"ปานกลาง\"\n}\nelse if (msg.req.body.level === '2'){\n    degree = \"เริ่มมีผลต่อสุขภาพ\"\n}\nelse if (msg.req.body.level=== '3'){\n    degree = \"อันตรายต่อสุขภาพ\"\n}\n\nmsg.payload = \"ท่านยังไม่ได้ได้ทำการ subscribe พื้นที่\"+msg.req.body.location+\" ระดับ\"+degree+\" ค่ะ กรุณาทำการ subscribe ก่อนค่ะ \"\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":1020,"wires":[["81d2bfe1.23652"]]},{"id":"81d2bfe1.23652","type":"http response","z":"e7a3403a.f1422","name":"","statusCode":"","headers":{},"x":1970,"y":1020,"wires":[]},{"id":"ea6ce85.93e1d18","type":"function","z":"e7a3403a.f1422","name":"AQI ","func":"\n    msg.time = msg.payload.timenow,\n    msg.AQINOW = msg.payload.AQINOW,\n    msg.AQI1HR = msg.payload.AQI1hrNOW,\n    msg.AQI24HR = msg.payload.AQI24hrNOW,\n    msg.location= msg.payload.deviceName\n\n   msg.payload= {\n    \n    AQINOW : msg.payload.AQINOW,\n    AQI1HR : msg.payload.AQI1hrNOW,\n    AQI24HR : msg.payload.AQI24hrNOW,\n    deviceName :msg.payload.deviceName,\n    time : msg.payload.timenow\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1380,"wires":[["b680b075.73bc","a08cbb8b.211aa8"]]},{"id":"a08cbb8b.211aa8","type":"mongodb2 in","z":"e7a3403a.f1422","service":"_ext_","configNode":"3a60bd1b.b296e2","name":"","collection":"AQI","operation":"insertOne","x":660,"y":1380,"wires":[["2cd477b0.ea4e28"]]},{"id":"e6918d93.0ee86","type":"mongodb2 in","z":"e7a3403a.f1422","service":"_ext_","configNode":"3a60bd1b.b296e2","name":"","collection":"detailUser","operation":"aggregate.toArray","x":1910,"y":1380,"wires":[["68b84960.564ba8","42a606f4.901708"]]},{"id":"d12e25db.5f4ee8","type":"inject","z":"e7a3403a.f1422","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1760,"wires":[["25fa22a9.6df91e"]]},{"id":"254527ee.bc33a8","type":"http request","z":"e7a3403a.f1422","name":"","method":"POST","ret":"txt","url":"https://air-quality-kmitl.herokuapp.com/notify","tls":"","x":2330,"y":1380,"wires":[["6f0ea4f7.9581ec"]]},{"id":"b680b075.73bc","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":570,"y":1180,"wires":[]},{"id":"eca7238.4c248e","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1830,"y":1560,"wires":[]},{"id":"68b84960.564ba8","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2030,"y":1560,"wires":[]},{"id":"6f0ea4f7.9581ec","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2390,"y":1560,"wires":[]},{"id":"37cc9490.26884c","type":"function","z":"e7a3403a.f1422","name":"","func":"var AQINOW = msg.AQINOW\nvar AQI1HR = msg.AQI1HR\nvar AQI24HR = msg.AQI24HR\n\nvar AQI = []\n\nAQINOW={\n    name: \"AQINOW\",\n    value: AQINOW,\n    sent : true\n}\nAQI1HR={\n    name: \"AQI1HR\",\n    value: AQI1HR,\n    sent : true\n}\nAQI24HR={\n    name: \"AQI24HR\",\n    value: AQI24HR,\n    sent : true\n}\nif (AQINOW.value <51){\n    AQINOW.gte =  1\n    AQINOW.lt =  4\n}else if (AQINOW.value <= 100 ){\n    AQINOW.gte =  1\n    AQINOW.lt = 2\n}else if (AQINOW.value <= 150 ){\n    AQINOW.gte =  1\n    AQINOW.lt =  3\n}else if (AQINOW.value >150 ){\n    AQINOW.gte =  1\n    AQINOW.lt =  4\n}\n\nif (AQI1HR.value <51){\n    AQI1HR.gte =  1\n    AQI1HR.lt =  4\n}else if (AQI1HR.value == 3 ){\n    AQI1HR.gte =  1\n    AQI1HR.lt = 2\n}else if (AQI1HR.value == 4){\n    AQI1HR.gte =  1\n    AQI1HR.lt =  3\n}else if (AQI1HR.value == 5 ){\n    AQI1HR.gte =  1\n    AQI1HR.lt =  4\n}\nif (AQI24HR.value <51){\n    AQI24HR.gte =  1\n    AQI24HR.lt =  4\n}else if (AQI24HR.value == 3){\n    AQI24HR.gte =  1\n    AQI24HR.lt = 2\n}else if (AQI24HR.value == 4 ){\n    AQI24HR.gte =  1\n    AQI24HR.lt =  3\n}else if (AQI24HR.value == 5 ){\n    AQI24HR.gte =  1\n    AQI24HR.lt =  4\n}\n// msg.sentAQINOW = true\n// msg.sentAQI1HR = true\n// msg.sentAQI24HR = true\n\nif (msg.AQINOW < 51 )\n    msg.AQINOW = 1\nelse if (msg.AQINOW <= 100 ){\n    msg.AQINOW = 3\n}else if (msg.AQINOW <= 150 ){\n    msg.AQINOW = 4\n}else if (msg.AQINOW >150 ){\n    msg.AQINOW = 5\n}\n\nif (msg.AQINOW == msg.AQINOW_old)\n    AQINOW.sent = false\nif (msg.AQI1HR == msg.AQI1HR_old)\n    AQI1HR.sent = false\nif (msg.AQI24HR == msg.AQI24HR_old)\n    AQI24HR.sent = false\n\nAQI = [AQINOW,AQI1HR,AQI24HR]\nmsg.payload = AQI\nreturn msg","outputs":1,"noerr":0,"x":1190,"y":1440,"wires":[["3296e360.5c4f7c","52291d65.8169f4"]]},{"id":"1976f900.93bf37","type":"debug","z":"e7a3403a.f1422","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2200,"y":1540,"wires":[]},{"id":"42a606f4.901708","type":"function","z":"e7a3403a.f1422","name":"","func":"msg.payload = {\n    user: msg.payload,\n}\n\n\n\nmsg.payload.AQINOW = msg.AQINOW\nmsg.payload.AQI1HR = msg.AQI1HR\nmsg.payload.AQI24HR = msg.AQI24HR\nmsg.payload.location = msg.location\nmsg.payload.type = msg.type\nreturn msg;","outputs":1,"noerr":0,"x":2170,"y":1380,"wires":[["254527ee.bc33a8","1976f900.93bf37"]]},{"id":"6897fc1b.a3bae4","type":"function","z":"e7a3403a.f1422","name":"101-200","func":"var pipeline =[{$match:{ $and:[{level:{$gte:msg.payload.gte.toString(),$lte:msg.payload.lt.toString()}},{location:msg.location}]}}];\n\nmsg.type = msg.payload.name\nmsg.payload = [pipeline, null];\nreturn msg;\n\n// db.detailUser.aggregate(\n//   [\n     \n//           {result:{ $and: [ { $gte: [ \"$level\", 1] }, { $lt: [ \"$level\", 24 ] } ] }}\n//   ]\n// );\n\n// var pipeline = [\n//     { $match: \n//         {UserID: ID}},\n//     // {$group: { \n//     //     _id: \"$UserID\" ,\n//     //     location: { $push: \"$location\" },\n//     //     level: { $push: \"$level\" }\n//     // }}//,\n//     // { $project: {_id: 0} }\n// // ];\n\n// { $match: \n//         {UserID: ID}}","outputs":1,"noerr":0,"x":1640,"y":1380,"wires":[["e6918d93.0ee86","eca7238.4c248e"]]},{"id":"3296e360.5c4f7c","type":"split","z":"e7a3403a.f1422","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1350,"y":1380,"wires":[["eae7054b.d20d68","5f8013fd.ee3b2c"]]},{"id":"25fa22a9.6df91e","type":"function","z":"e7a3403a.f1422","name":"AQI ","func":"\nvar aqi_now = 56\nvar aqi_1hr = 1\nvar aqi_24hr = 3\nvar device = \"Ladkrabang\"\n\n\n    msg.time = \"2019-04-01T22:11:45.788Z\",\n    msg.AQINOW = aqi_now,\n    msg.AQI1HR = aqi_1hr,\n    msg.AQI24HR = aqi_24hr,\n    msg.location= device\n\n   msg.payload= {\n    \n    AQINOW : aqi_now,\n    AQI1HR : aqi_1hr,\n    AQI24HR : aqi_24hr,\n    deviceName : device,\n    time : \"2019-04-01T22:11:45.788Z\"\n}\n\nmsg.temp_payload = msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1680,"wires":[["a08cbb8b.211aa8","6e915678.2e56d8"]]},{"id":"4a236241.fa280c","type":"http in","z":"e7a3403a.f1422","name":"","url":"/datanewest","method":"get","upload":false,"swaggerDoc":"","x":140,"y":1140,"wires":[["b927fe00.7804f","fbd190fa.0db75"]]},{"id":"5698a12a.28f06","type":"http response","z":"e7a3403a.f1422","name":"","statusCode":"","headers":{},"x":1320,"y":1140,"wires":[]},{"id":"9a9ce620.95e488","type":"json","z":"e7a3403a.f1422","name":"","property":"payload","action":"obj","pretty":false,"x":310,"y":1380,"wires":[["ea6ce85.93e1d18","1351e469.de46bc"]]},{"id":"eae7054b.d20d68","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1620,"y":1560,"wires":[]},{"id":"b927fe00.7804f","type":"function","z":"e7a3403a.f1422","name":"query data newest","func":"\n\n//msg.payload=[{date:{$gte:(date1),$lte:(date2)}}];\nmsg.payload={deviceName:msg.req.query.deviceName};\n//{ $and: [ { price: { $ne: 1.99 } }, { price: { $exists: true } } ] }\nmsg.limit = 96;\nmsg.skip = 0;\nmsg.sort = {_id:-1}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1100,"wires":[["680c8226.90dafc"]]},{"id":"fbd190fa.0db75","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":300,"y":1200,"wires":[]},{"id":"76ba108b.958f2","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":780,"y":1200,"wires":[]},{"id":"680c8226.90dafc","type":"mongodb in","z":"e7a3403a.f1422","mongodb":"80a719b3.ec74a8","name":"","collection":"airquality","operation":"find","x":620,"y":1080,"wires":[["76ba108b.958f2","5698a12a.28f06"]]},{"id":"1351e469.de46bc","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":270,"y":1540,"wires":[]},{"id":"bd02cd54.0751","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":320,"y":1320,"wires":[]},{"id":"2cd477b0.ea4e28","type":"function","z":"e7a3403a.f1422","name":"previous row","func":"//db.airquality.find().sort({_id:-1}).limit(10);\nmsg.payload = msg.temp_payload\nmsg.payload={deviceName:msg.payload.deviceName};\nmsg.limit = 1;\nmsg.skip = 1;\nmsg.sort = {_id:-1}\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1380,"wires":[["dc99b180.d9168"]]},{"id":"dc99b180.d9168","type":"mongodb in","z":"e7a3403a.f1422","mongodb":"80a719b3.ec74a8","name":"","collection":"AQI","operation":"find","x":1100,"y":1380,"wires":[["5b534b8f.a4f834"]]},{"id":"52291d65.8169f4","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1270,"y":1620,"wires":[]},{"id":"5b534b8f.a4f834","type":"function","z":"e7a3403a.f1422","name":"value prev row","func":"if (msg.payload[0].AQINOW < 51 )\n    msg.AQINOW_old = 1\nelse if (msg.payload[0].AQINOW <= 100 ){\n    msg.AQINOW_old = 3\n}else if (msg.payload[0].AQINOW <= 150 ){\n    msg.AQINOW_old = 4\n}else if (msg.payload[0].AQINOW >150 ){\n    msg.AQINOW_old = 5\n}\n\nmsg.AQI1HR_old = msg.payload[0].AQI1HR,\nmsg.AQI24HR_old = msg.payload[0].AQI24HR\n\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":1440,"wires":[["37cc9490.26884c"]]},{"id":"5f8013fd.ee3b2c","type":"switch","z":"e7a3403a.f1422","name":"","property":"payload.sent","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1490,"y":1380,"wires":[["6897fc1b.a3bae4","623b69d9.e5e288"]]},{"id":"623b69d9.e5e288","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1690,"y":1300,"wires":[]},{"id":"b83bc083.df28e","type":"debug","z":"e7a3403a.f1422","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1040,"y":1240,"wires":[]},{"id":"aa8afd36.38e46","type":"catch","z":"e7a3403a.f1422","name":"","scope":["2cd477b0.ea4e28","5b534b8f.a4f834"],"x":770,"y":1500,"wires":[["f0ea7922.1f8e88"]]},{"id":"89187c14.4f93e","type":"debug","z":"e7a3403a.f1422","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1390,"y":1760,"wires":[]},{"id":"f0ea7922.1f8e88","type":"function","z":"e7a3403a.f1422","name":"","func":"msg.AQINOW_old = 0,\nmsg.AQI1HR_old = 0,\nmsg.AQI24HR_old = 0\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1500,"wires":[["89187c14.4f93e","37cc9490.26884c"]]},{"id":"befad57e.9b2958","type":"mongodb2 in","z":"4d7593be.8636ac","service":"_ext_","configNode":"3a60bd1b.b296e2","name":"","collection":"airquality","operation":"insertOne","x":1320,"y":100,"wires":[[]]},{"id":"6da2205d.55df2","type":"function","z":"4d7593be.8636ac","name":"New msg","func":"var Newmsg={};\nNewmsg.payload =\n{\n    temperature: msg.payload.object.temperature,\n    \n    humidity:msg.payload.object.humidity,\n    \n    pressure:msg.payload.object.pressure,\n    \n    Battery:msg.payload.object.battery,\n    \n    CO:msg.payload.object.CO,\n    \n    NO2:msg.payload.object.NO2,\n    \n    O3:msg.payload.object.O3,\n    \n    SO2:msg.payload.object.SO2,\n    \n    PM10:msg.payload.object.pm10,\n    \n    PM25:msg.payload.object.pm25,\n    \n    date:msg.date,\n    \n    latitude:msg.payload.rxInfo[0].location.latitude,\n    \n    longitude:msg.payload.rxInfo[0].location.longitude,\n    \n    deviceEUI:msg.payload.devEUI,\n    \n    deviceName:msg.payload.deviceName\n}\n\nreturn Newmsg;","outputs":1,"noerr":0,"x":960,"y":140,"wires":[["befad57e.9b2958","7606ef4b.46e0c"]]},{"id":"7606ef4b.46e0c","type":"debug","z":"4d7593be.8636ac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1130,"y":160,"wires":[]},{"id":"c8f9a2f.4a2246","type":"json","z":"4d7593be.8636ac","name":"JSON","property":"payload","action":"obj","pretty":false,"x":770,"y":200,"wires":[["6da2205d.55df2"]]},{"id":"300b9895.d595c8","type":"moment","z":"4d7593be.8636ac","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Bangkok","adjAmount":0,"adjType":"days","adjDir":"add","format":"kk:mm","locale":"C","output":"time","outputType":"msg","outTz":"Asia/Bangkok","x":580,"y":140,"wires":[["c8f9a2f.4a2246"]]},{"id":"445a9af2.78b164","type":"moment","z":"4d7593be.8636ac","name":"","topic":"","input":"","inputType":"date","inTz":"Asia/Bangkok","adjAmount":"7","adjType":"hours","adjDir":"add","format":"","locale":"C","output":"date","outputType":"msg","outTz":"Asia/Bangkok","x":340,"y":140,"wires":[["300b9895.d595c8"]]},{"id":"ad22afd.fb5315","type":"mqtt in","z":"4d7593be.8636ac","name":"value sensor","topic":"application/14/#","qos":"2","broker":"99823add.360468","x":130,"y":120,"wires":[["445a9af2.78b164"]]},{"id":"9bbaede4.3dd64","type":"mongodb2 in","z":"47cab60f.e528d8","service":"_ext_","configNode":"3a60bd1b.b296e2","name":"","collection":"airquality","operation":"aggregate.toArray","x":730,"y":380,"wires":[["37f199c1.5fe396"]]},{"id":"4c00f574.21551c","type":"function","z":"47cab60f.e528d8","name":"query device","func":"// db.sales.aggregate( [ { $group : { _id : \"$item\" } } ] )\n\n\nvar pipeline = [\n    { $group: { \n        _id: \"$deviceEUI\" ,\n        //deviceEUI: { $first: \"$deviceEUI\" },\n        deviceName: { $first: \"$deviceName\" }\n    }}//,\n    //{ $project: {_id: 0} }\n];\n\nmsg.payload = [pipeline, null];\nmsg.sort = {deviceName:1}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":380,"wires":[["9bbaede4.3dd64","8d117bc2.55bbc8"]]},{"id":"37f199c1.5fe396","type":"http response","z":"47cab60f.e528d8","name":"","statusCode":"","headers":{},"x":1050,"y":100,"wires":[]},{"id":"5a11b244.67b44c","type":"http in","z":"47cab60f.e528d8","name":"","url":"/device","method":"get","upload":false,"swaggerDoc":"","x":110,"y":380,"wires":[["4c00f574.21551c","8d117bc2.55bbc8"]]},{"id":"8d117bc2.55bbc8","type":"debug","z":"47cab60f.e528d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":350,"y":300,"wires":[]},{"id":"8de5c0b6.3cdf6","type":"mongodb2 in","z":"47cab60f.e528d8","service":"_ext_","configNode":"3a60bd1b.b296e2","name":"","collection":"airquality","operation":"find.toArray","x":610,"y":120,"wires":[["37f199c1.5fe396","24d2cc49.281bf4"]]},{"id":"24d2cc49.281bf4","type":"debug","z":"47cab60f.e528d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1130,"y":40,"wires":[]},{"id":"41374fd0.bef82","type":"function","z":"47cab60f.e528d8","name":"query historical data","func":"var date1 = msg.req.query.date1;\nvar date2 = msg.req.query.date2;\nvar device = msg.req.query.device\n\n//msg.payload=[{date:{$gte:(date1),$lte:(date2)}}];\nmsg.payload=[{ $and:[{date:{$gte:(date1),$lte:(date2)}},{deviceEUI:device}]}];\n//{ $and: [ { price: { $ne: 1.99 } }, { price: { $exists: true } } ] }\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["8de5c0b6.3cdf6"]]},{"id":"1393e6ed.d91b39","type":"http in","z":"47cab60f.e528d8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":100,"y":120,"wires":[["8de5c0b6.3cdf6"]]},{"id":"54d2260d.987a98","type":"http in","z":"47cab60f.e528d8","name":"","url":"/historical","method":"get","upload":false,"swaggerDoc":"","x":110,"y":200,"wires":[["41374fd0.bef82","cdbd4316.2b834"]]},{"id":"cdbd4316.2b834","type":"debug","z":"47cab60f.e528d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":570,"y":300,"wires":[]},{"id":"24ec3fc4.dcebe","type":"http in","z":"47cab60f.e528d8","name":"","url":"/AQInewest","method":"get","upload":false,"swaggerDoc":"","x":120,"y":560,"wires":[["1b32cbe5.c94ac4"]]},{"id":"1b32cbe5.c94ac4","type":"function","z":"47cab60f.e528d8","name":"","func":"//db.airquality.find().sort({_id:-1}).limit(10);\n\nmsg.payload={deviceName:msg.req.query.deviceName};\nmsg.limit = 96;\nmsg.skip = 0;\nmsg.sort = {_id:-1}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":581,"wires":[["7473c94a.98c0f8"]]},{"id":"20d1123e.ff22ce","type":"http response","z":"47cab60f.e528d8","name":"","statusCode":"","headers":{},"x":880,"y":560,"wires":[]},{"id":"f1a42994.9e3738","type":"debug","z":"47cab60f.e528d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":840,"y":620,"wires":[]},{"id":"7473c94a.98c0f8","type":"mongodb in","z":"47cab60f.e528d8","mongodb":"80a719b3.ec74a8","name":"","collection":"AQI","operation":"find","x":620,"y":581,"wires":[["f1a42994.9e3738","20d1123e.ff22ce"]]},{"id":"e44e26c3.4ebba8","type":"http in","z":"47cab60f.e528d8","name":"","url":"/AQIhistorical","method":"get","upload":false,"swaggerDoc":"","x":130,"y":800,"wires":[["b22d1644.6f36b8"]]},{"id":"b22d1644.6f36b8","type":"function","z":"47cab60f.e528d8","name":"query historical data","func":"var date1 = msg.req.query.date1;\nvar date2 = msg.req.query.date2;\nvar device = msg.req.query.device\n\n//msg.payload=[{date:{$gte:(date1),$lte:(date2)}}];\nmsg.payload=[{ $and:[{time:{$gte:(date1),$lte:(date2)}},{deviceName:device}]}];\n//{ $and: [ { price: { $ne: 1.99 } }, { price: { $exists: true } } ] }\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":800,"wires":[["3d66aad6.cdfbe6"]]},{"id":"3d66aad6.cdfbe6","type":"mongodb2 in","z":"47cab60f.e528d8","service":"_ext_","configNode":"3a60bd1b.b296e2","name":"","collection":"AQI","operation":"find.toArray","x":590,"y":720,"wires":[["fccae0e7.056cd","efd2aa5d.0d2e58"]]},{"id":"fccae0e7.056cd","type":"http response","z":"47cab60f.e528d8","name":"","statusCode":"","headers":{},"x":1050,"y":700,"wires":[]},{"id":"efd2aa5d.0d2e58","type":"debug","z":"47cab60f.e528d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":860,"y":760,"wires":[]},{"id":"d8d41021.b96ad","type":"mqtt in","z":"4d7593be.8636ac","name":"sub","topic":"application/Newmsg","qos":"2","broker":"99823add.360468","x":110,"y":280,"wires":[["3f1b1012.3f0c1"]]},{"id":"3f1b1012.3f0c1","type":"debug","z":"4d7593be.8636ac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":290,"y":300,"wires":[]}]